:root {
  --clr-primary: hsl(215, 51%, 70%);
  --clr-accent: hsl(178, 100%, 50%);
  --clr-accent-light: hsl(0, 0%, 100%);

  --clr-bg-body: hsl(217, 54%, 11%);
  --clr-bg-component: hsl(216, 50%, 16%);
  --clr-line: hsl(215, 32%, 27%);

  --fs-primary: 1.125rem;
  --fs-large: 1.4rem;

  --ff-primary: "Outfit", sans-serif;

  --fw-heading: 600;
  --fw-secondary-heading: 400;
  --fw-primary: 300;
}

/* ------------------ */
/*       RESET        */
/* ------------------ */

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  font: inherit;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: 1.6;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------- */
/* GENERAL STYLING  */
/* ---------------- */
body {
  background-color: var(--clr-bg-body);
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary);
  height: 100vh;
  line-height: 1.6;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.component {
  background-color: var(--clr-bg-component);
  border-radius: 1.25rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: 36rem;
  justify-content: space-between;
  max-width: 22rem;
  min-width: 17rem;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.component__img {
  background-color: var(--clr-accent);
  background-image: url(images/image-equilibrium.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  height: 19rem;
  overflow: hidden;
  width: 100%;
}

.component__img::after {
  background-color: hsla(178, 100%, 50%, 0.5);
  border-radius: 0.5rem;
  content: url(images/icon-view.svg);
  display: inline-block;
  height: 100%;
  line-height: 21.5;
  opacity: 0;
  text-align: center;
  width: 100%;
}

.component__img:hover::after {
  cursor: pointer;
  opacity: 1;
}

.component__name {
  color: var(--clr-accent-light);
  font-size: var(--fs-large);
  font-weight: var(--fw-heading);
}

.component__name:hover,
.component__author-name:hover {
  color: var(--clr-accent);
  cursor: pointer;
}

.line {
  background-color: var(--clr-line);
  height: 0.4px;
}

.component__price-time-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.component__price,
.component__time {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.component__price-value {
  color: var(--clr-accent);
  font-weight: var(--fw-heading);
}

.component__time-value {
  color: var(--clr-primary);
  font-weight: var(--fw-secondary-heading);
}

.component__author {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.component__author-avatar {
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
  height: 2rem;
  width: 2rem;
}

.component__author-name {
  color: var(--clr-accent-light);
}
